$font-stack:    Helvetica, sans-serif;
$font-color: #333;

body {
    font: 100% $font-stack;
    color: $font-color;

    #mood-container {
        width: 100%;
        margin: 40px 0px 0px 0px;
        > .mood {
            margin: 0 auto;
            width: 45%;
            font-size: 2em;
            > img {
                display: block;
                max-width: 600px;
            }
        }
  }

}