
@mixin basic-settings {
    height: 100%;
    position: absolute;
    top: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'nimbus-sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    //font: 16px 'nimbus-sans', sans-serif;
    color: black;

    #top-container {
      width: 100%;
      height: 100%;
      position: relative;        
    }

    #left {
        @include basic-settings;
        width: 100%;
        left: 0;
    }

    #right {
        @include basic-settings;
        width: 20%;
        //min-width: 300px;
        opacity: 0.85;
        right: 0;
        z-index: 10;
    }

    #mood-container {
        width: 100%;
        text-align: center;
        margin: 100px 0px 10px 0px;
        > img {
            max-width: 165px;
            //-webkit-filter: opacity(.3) blur(6px);
            //filter: opacity(.3) blur(6px);
          }
        > span {
            display: block;
            text-transform: uppercase;
            font-size: 36px;
        }
        > .mood {
            width: 115px;
            height: 115px;
            margin: 10px 10px 10px 10px;
            display: inline-block;
            span.count {
                position: relative;
                top: -72px;
            }
        }
  }

}