body {
  font: 100% Helvetica, sans-serif;
  color: #333; }
  body #mood-container {
    width: 100%;
    margin: 40px 0px 0px 0px; }
    body #mood-container > .mood {
      margin: 0 auto;
      width: 45%;
      font-size: 2em; }
      body #mood-container > .mood > img {
        display: block;
        max-width: 600px; }
