<!doctype html>
<html>
    <head>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://'+window.location.host);
            //socket.emit('open-ui', {});
            socket.on('new-mood', function (data) {
                console.log(data);
                addData(data.mood);
            });

            function addData(data) {
                var container = document.getElementById('mood-container');
                var div = document.createElement("div");
                div.setAttribute("class","mood");
                console.log(data.imageFilePath);
                div.innerHTML = data.title;
                if ( data.imageFilePath ) {
                    var image = document.createElement("img");
                    image.setAttribute('src', data.imageFilePath);
                    div.appendChild(image);                    
                }
                container.appendChild(div);
            }
        </script>
    </head>
    <body>
        <div id="mood-container">
        </div>
    </body>
</html>
